body {
	background-color: #CCCCCC;
}
#image-grid {
	font-size: 0;
	width: 1000px;
	max-width: 95%;
	margin: auto;
	margin-top: 50px;
	border: 2px solid;
}
.image {
	display: inline-flex;
	width: 25%;
	cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}